{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Subodh Verma</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{% static 'images/dev.webp' %}" type="image/png" >
        <!-- <meta name="theme-color" content="black" /> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <canvas id="projector">Your browser does not support the Canvas element.</canvas>
        <div class="outer-container">
            <div>
                <!-- <div class="heading">
                    <h1>{{subodh.name}}</h1>
                </div>
                <div class="info">
                    <h4>{{subodh.info}}</h4>
                </div>
                <div class="quote">
                    <h6>{{subodh.quote}}</h6>
                </div> -->
            </div>
        </div>

        <script src="https://code.createjs.com/easeljs-0.7.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
        <script src="{% static 'js/back.js' %}"></script>
    </body>
</html>