{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Subodh Verma</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{% static 'images/dev.webp' %}" type="image/png" >
        <meta name="theme-color" content="#191d1e" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <canvas id="projector">Your browser does not support the Canvas element.</canvas>
        <div class="outer-container" id="main">
            <div class="heading">
                <div>
                        <span id="typed"></span>
                        <span class="cursor"></span>
                </div>
            </div>


                <!-- <div class="heading">
                    <h1>{{subodh.name}}</h1>
                </div>
                <div class="info">
                    <h4>{{subodh.info}}</h4>
                </div>
                <div class="quote">
                    <h6>{{subodh.quote}}</h6>
                </div> -->
        </div>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="{% static 'js/main.js' %}"></script> -->
        <script src="https://code.createjs.com/easeljs-0.7.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
        <script src="{% static 'js/back.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/typeit@7/dist/typeit.min.js"></script>
        <script>
            new TypeIt("#typed", {
                speed: 85,
                lifeLike: true,
                html: false,
                waitUntilVisible: true
            })
            .type("<h1.su")
            .delete(3)
            .type(">Subodjh Ve")
            .move(-4)
            .pause(100)
            .delete(1)
            .move('END')
            .type("rma</h1>")
            .options({
                cursor: false,
            })
            .exec(function(){
                $(".heading>div").html("Subodh Verma")
                $(".heading").animate({
                    fontSize: "2rem",
                    textShadow: "1px 1px 4px #416094"
                }, "fast");
            })
            .go();
            
        </script>
    </body>
</html>